.blog-destination {
    padding-top: 44px;
    padding-bottom: 100px;
    font-size: 16px;
    line-height: 22px;

    .new-red {
        color: #6f1110;
    }

    padding-top: 40px;

    p {
        margin: 15px 5px;
        padding: 0;
        text-align: left;
        text-indent: 0;
    }

    .card {

        .section-title-inner {
            font-size: 12pt;
            font-weight: 500;
            text-align: center;
            color: #6f1110;
        }

        h3 {
            color: #6f1110;
            font-family: 'Arial';
            font-size: 10pt;
            font-variant: normal;
        }

        a,
        a.new-red.text-decoration-none {
            color: #6f1110;
        }

        a.text-decoration-none {
            color: black;
            user-select: none;
        }

        a.btn {
            color: white;
        }

    }

    .image_title {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        padding: 50px 30px 30px 20px;
        color: white;
        font-size: 35px;
        line-height: 2.5rem;
        font-weight: 700;
        font-family: serif;
        text-shadow: 1px 1px 5px #000;
        z-index: 3;
        display: block;

        @media (max-width: 991px) {
            font-size: 25px;
            display: block;
            line-height: 35px;
            padding: 10px 20px;
        }
    }

    .image_title_mobile {

        background-color: #e1dfdb;
        width: 100%;
        padding: 1.5rem 0.5rem;
        color: #6f1110;
        font-size: 20px;
        line-height: 35px;
        font-weight: 700;
        font-family: 'Arial', serif;
        display: block;
        // }

    }

    .bg-image {
        padding-top: 400px;
        height: 0;
        width: 100%;

        @media (max-width: 991px) {

            padding-top: 500px;

        }

        @media (max-width: 480px) {

            padding-top: 343px;

        }
    }

    .section-title {
        font-size: 30px;
        font-weight: 700;
    }

    .section-title-inner {
        width: 100%;
        font-weight: 500;
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
        font-weight: 600;
    }

    strong {
        font-weight: bold;
    }

    p,
    ul,
    li,
    ol {
        font-size: 15px;

        @media (max-width: 480px) {
            font-size: 12px;
        }
    }

    ul li {
        list-style: none;
        position: relative;

        &:before {
            content: "›";
            font-weight: normal;
            top: -10px;
            font-size: 25px;
            position: absolute;
            left: -15px;
        }
    }

    .vue-content-placeholders-img {
        height: 300px !important;
        background: white !important;
    }

    .section h2 {
        font-size: 20px;
    }

    .read-more *:nth-child(n + 3) {
        // display: block;

        @media (max-width: 991px) {
            display: none;
        }
    }

    .section {
        display: block;
        width: 100%;
        overflow-x: auto;
    }

    table {
        margin: auto;
        color: #212529;
        border-collapse: collapse;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;

        thead tr,
        thead th {
            padding: 0.75rem;
            border-top: none !important;
            border-bottom: none !important;
        }

        tbody tr {
            border-top: none !important;
            border-bottom: none !important;
            -webkit-transition: .3s all ease;
            -o-transition: .3s all ease;
            transition: .3s all ease;
        }

        tbody tr:first-child td {
            color: #212529 !important;
        }

        tbody td {
            border: none !important;
            color: #777;
            font-weight: 400;
            padding: 10px;
            font-weight: 300;
            border: none;
        }

        tbody tr:hover,
        tbody tr:focus {
            background: #fff;
        }

        tbody tr:first-child:hover {
            background: transparent;
        }

        p {
            margin: 0;
        }

    }


    .read-more-button {
        display: none;
        cursor: pointer;
        color: #6f1110;

        &:hover {
            text-decoration: underline;
        }

        @media (max-width: 991px) {
            display: block;
            font-size: 12px;


        }
    }

    .quick-link-section {
        .blog-category {
            border-radius: 8px;
            border: 1px solid #e5e5dd;
            background-color: #ffffff8c;

            &::before {
                content: "";
                width: 100%;
                height: 5px;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                display: block;
                top: 0;
                left: 0;
                position: absolute;
                background-color: #6f1110;
            }
        }

        li {
            cursor: pointer;
        }

        max-width: 350px;
        width: 40%;
    }

    .content-section {
        li {
            list-style: none;
            position: relative;

            &:before {
                content: "·";
                top: 0px;
                position: absolute;
                left: -15px;
            }
        }

        img {
            width: 100%;
            height: auto;
        }

        width: 40%;
        flex: 1 1 auto;
    }

    .popular-tours {
        width: 30%;
        max-width: 400px;
        margin-top: 50px;
    }

    @media (max-width: 1200px) {
        .quick-link-section {
            display: none;
        }

        .popular-tours {
            width: 40%;
            margin-top: 50px;
        }
    }

    @media (max-width: 991px) {
        .position-relative.overflow-hidden {
            border-top-left-radius: 0.25rem;
            height: 300px;
        }

        .content-section {
            border: none;
            width: 100%;
        }

        .popular-tours {
            width: 100%;
            margin: 0 auto;
            margin-top: 50px;
        }
    }

    @media (max-width: 480px) {
        .position-relative.overflow-hidden {
            border-radius: 0;
            height: 360px;
        }
    }

    .vue-content-placeholders-img,
    .vue-content-placeholders-text__line {
        background: #c9c9c9 !important;
    }

    .vue-content-placeholders-img {
        height: 300px !important;

        @media (max-width: 450px) {
            height: 200px !important;
        }
    }

    .pagination {
        width: 100%;
        position: relative;
        justify-content: center;
    }

    .page-item {
        margin-right: 10px;
        margin-left: 10px;
    }

    .page-link.prev {
        position: absolute;
        left: 0;
    }

    .page-link.next {
        position: absolute;
        right: 0;
    }

    @media (max-width: 480px) {
        .pagination {
            width: 100%;
            position: relative;
            justify-content: center;
        }

        .page-item {
            margin-right: 1px;
            margin-left: 1px;
        }
    }

    .btn-desti {
        background-color: #e21720;
        color: #fff;
    }

}