#our-tours {
    padding-top: 100px;
    padding-bottom: 100px;

    h1::after {
        display: none;
    }

    h1::before {
        display: none;
    }

    h1 {
        text-align: left;
    }

    @media (max-width: 767px) {
        padding-top: 85px;

        h1::after {
            display: block;
        }

        h1::before {
            display: block;
        }

        h1 {
            text-align: center;
        }
    }

    section {
        max-width: 1000px;
    }

    .fa-search,
    .fa-calendar,
    .fa-users {
        color: #f80c35;
        font-size: 20px;
    }

    input.w-100 {
        border: none;
        outline: none;
    }

    .mobile-filter {
        margin: 7px 0px;
        height: 3.25rem;
        // padding: 0 30px !important;
    }

    .where_to_dropdown,
    .traveler-dropdown {
        position: relative;
        z-index: 222;
        width: 100% !important;
    }

    .traveler-dropdown {
        width: 350px !important;
    }

    button.btn-danger>span {
        font-size: 18px;
    }

    .vdp-datepicker__calendar {
        left: -42px;
    }
}

.tagpill-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    list-style: none;
    list-style-image: none;
    flex-wrap: wrap;
    font-size: 15px;
    align-items: center;
}

.tagpill-list {
    border: 1px solid #0f6d24;
    border-radius: 5px;
    background-color: white;
}

.tagpill-list.all {
    border: 1px solid #f93154;
    border-radius: 5px;
}

.tagpill-list.all span {
    color: #f93154;
}

.tagpill-list span {
    color: #0f6d24;
    cursor: pointer;
}

.read-more.text-danger {
    cursor: pointer;
}

.mobile-filter-close,
.mobile-filter-button,
.mobile-sidebar-trigger {
    display: none;
}

.overlay-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.3);
    z-index: 1021;
}

.filter-option-close {
    cursor: pointer;
}

@media (max-width: 991px) {
    .mobile-filter-none {
        display: none;
    }

    #our-tours .traveler-dropdown {
        width: 100% !important;
    }

    .mobile-filter-close {
        display: block;
        position: fixed;
        z-index: 9999;
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s;
        animation-name: sidebar;
        width: 100%;
        right: -100%;
        top: 0;
    }

    .mobile-filter-button {
        display: block;
        position: fixed;
        z-index: 9999;
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s;
        animation-name: sidebar;
        width: 100%;
        right: -100%;
        bottom: 0;
    }

    .filters {
        padding-left: 30px !important;
        padding-right: 30px !important;
        padding-top: 100px !important;
        padding-bottom: 0 !important;
        position: fixed;
        right: -100%;
        background-color: #fff;
        border-left: 1px solid #e2e1e1;
        z-index: 1022;
        padding: 2.5rem 0 0 0;
        top: 0;
        margin-top: 0;
        overflow: scroll;
        height: 100%;
        width: 100%;
        transform: translate3d(0, 0, 0);
        will-change: transform;
        transition: transform 0.2s cubic-bezier(0.4, 0, 1, 1);
        backface-visibility: hidden;
        background-color: #f1f1f1;
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s;
        animation-name: sidebar;
    }

    @keyframes sidebar {
        0% {
            right: -100%;
        }

        100% {
            right: 0;
        }
    }

    .mobile-search-button {
        display: block;
        position: absolute;
        z-index: 9999;
        width: 100%;
        background-color: #f1f1f1;
        bottom: 0;
        left: 0;
    }

    .mobile-sidebar-trigger {
        display: block;
    }
}

@media (min-width: 744px) and (max-width: 991px) {

    .filters,
    .mobile-filter-close,
    .mobile-filter-button {
        width: 70%;
        max-width: 380px;
    }
}

@media (min-width: 350px) and (max-width: 744px) {

    .filters,
    .mobile-filter-close,
    .mobile-filter-button {
        max-width: 380px;
    }
}